* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  //-webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

body {
  font-family: monospace;
  font-family: "Courier";
  font-family: "Menlo";
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
  color: #f8f8f2;
  background-color: #272822;
  -webkit-text-size-adjust: 100%;
}

::selection {
  //color: white;
  //background: hsl(200, 100%, 50%);
}
:focus {
  outline: none;
}

doc, row {
  display: block;
}
tag, prop, val, txt {
  display: inline;
  line-height: 11px;
  white-space: pre-wrap;
  padding: 0 calc(.5ch - 1px);
  margin: 0 1px;
  border-radius: 2px;
}

doc {
  padding: 0 2px;
  background-image: linear-gradient(to left, #34332a 1px, transparent 1px);
  background-position: .8ch top;
  background-repeat: repeat-x;
  background-size: 2ch 100%;
}
row {
  background: #272822;
}

tag {
  color: #f92772;
}
prop {
  color: #a6e22d;
}
val {
  color: #e6db74;
}


/*TODO: Lol crazy indentation with css, need to make this with js or somehow smarter*/
[tabs] {margin-left: 22ch;}
[tabs="0"] {margin-left: 0ch}
[tabs="1"] {margin-left: 2ch}
[tabs="2"] {margin-left: 4ch}
[tabs="3"] {margin-left: 6ch}
[tabs="4"] {margin-left: 8ch}
[tabs="5"] {margin-left: 10ch}
[tabs="6"] {margin-left: 12ch}
[tabs="7"] {margin-left: 14ch}
[tabs="8"] {margin-left: 16ch}
[tabs="9"] {margin-left: 18ch}
[tabs="10"] {margin-left: 20ch}

[tabs="0"] + :-webkit-any([tabs="2"],[tabs="3"],[tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="1"] + :-webkit-any([tabs="3"],[tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="2"] + :-webkit-any([tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="3"] + :-webkit-any([tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="4"] + :-webkit-any([tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="5"] + :-webkit-any([tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="6"] + :-webkit-any([tabs="8"],[tabs="9"],[tabs="10"]),
[tabs="7"] + :-webkit-any([tabs="9"],[tabs="10"]),
[tabs="8"] + :-webkit-any([tabs="10"]) {
  outline: 1px dotted red;
}
[type="txt"][tabs="0"] + :-webkit-any([tabs="2"],[tabs="2"],[tabs="3"],[tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="1"] + :-webkit-any([tabs="2"],[tabs="3"],[tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="2"] + :-webkit-any([tabs="3"],[tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="3"] + :-webkit-any([tabs="4"],[tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="4"] + :-webkit-any([tabs="5"],[tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="5"] + :-webkit-any([tabs="6"],[tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="6"] + :-webkit-any([tabs="7"],[tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="7"] + :-webkit-any([tabs="8"],[tabs="9"],[tabs="10"]),
[type="txt"][tabs="8"] + :-webkit-any([tabs="9"],[tabs="10"]) {
  outline: 1px dotted red;
}



.sel {
  //outline: 1px solid #0af;
  //background: #49483E;
  //color: white;
  //background: #0af;
  background: hsla(200, 100%, 30%, 1);
  background: #49483E;
}
.cur {
  //outline: 1px solid #828380; //#66d9ef; //#0af;
  //outline-offset: -1px;
  box-shadow: inset 0px 0px 0px 1px #828380;
}
.hilite {
  //background: hsla();
  //background: #3e3d32;
}
.hilite + row::before {
  //Show insertion point somehow? Or is it enough that users learn it as they create new elements
}
.com {
  font-style: italic;
}
.com > * {
  opacity: .66;
}

[contenteditable="true"] {
  color: #272822;
  background-color: white;
  box-shadow: 0px 0px 0px 1px white;
  //border-radius: 3px;
}
